* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: 10vh 85vh 5vh;
}

header{
    font: bolder 5vh/10vh serif;
    text-align: center;
}

main{
    display: grid;
    grid-template-columns: 35vw 35vw;
    justify-content: center;
}

footer{
    font: bolder 2vh/5vh serif;
    text-align: center;
}

.map, .info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.map-image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

svg{
    height: 80vh;
}

path{
    stroke:black;
    stroke-width: 1px;
}

path:hover{
    stroke: red;
    stroke-width: 5px; 
    cursor: pointer;
    stroke-miterlimit:1;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pais{
    background-color: black;
    color: white;
    text-align: center;
    font: bold 4vh/10vh serif;
    height: 10vh;
    margin-bottom: 5vh;
}

.card{
    height: 15vh;
    width: 20vw;
    text-align: center;
    color: white;
    margin-bottom: 3vh;
}

.casos{
    background-color: #F39C12;
}

.mortes{
    background-color: #E74C3C;
}

.numeros{
    display: flex;
    justify-content: center;
    align-items: center;
    font: bolder 8vh serif;
}

.titulo{
    font: bolder 3vh/5vh serif;
}